<?xml version="1.0" encoding="UTF-8" ?>
<configuration>


    <!--代表日志展示的位置
        name: 输出的别名
        class:以哪种方式输出
    -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--用来指定日志的展示格式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss} %m %n</pattern>
        </layout>
    </appender>

    <!--项目中根日志 只能出现一次-->
    <root level="ERROR">
        <!--根日志输出位置-->
        <appender-ref ref="stdout"/>
    </root>

    <!--子日志多个-->
    <logger name="com.baizhi.csa.dao" level="DEBUG_dao"/>

</configuration>
