<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.bb.dao.VoteSubjectDao">
    <!-- VoteSubject的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_VoteSubject_Map" type="com.baizhi.bb.entity.VoteSubject">
        <id column="vs_id" property="vsId"/>
        <result column="vs_title" property="vsTitle"/>
        <result column="vs_type" property="vsType"/>

    </resultMap>
    <resultMap id="result_VoteSubject_Map2" type="com.baizhi.bb.entity.VoteSubject">
        <id column="vs_id" property="vsId"/>
        <result column="vs_title" property="vsTitle"/>
        <result column="vs_type" property="vsType"/>
        <collection property="voteItem" ofType="VoteItem">
            <id column="vi_id" property="viId"/>
            <result column="vu_user_id" property="viUserId"/>
            <result column="vo_id" property="voId"/>
        </collection>
        <collection property="voteOptions" ofType="VoteOption">
            <result column="vo_option" property="voOption"/>
            <result column="vo_id1" property="voId"/>

        </collection>
    </resultMap>

    <!-- 数据库中表名为:vote_subject的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="vote_subject_Column">
        vote_subject.vs_id as vs_id
        ,vote_subject.vs_title as vs_title
        ,vote_subject.vs_type as vs_type
    </sql>
    <sql id="vote_subject_Column2">
       s.vs_id as vs_id,
		s.vs_title as vs_title,
		s.vs_type as vs_type,
		i.vi_id as vi_id,
		i.vo_id as vo_id,
		i.vu_user_id as vu_user_id,
		o.vo_id as vo_id1,
		o.vo_option as vo_option
    </sql>

    <!--获得类名为:VoteSubject对应的数据库表的数据总行数 -->
    <select id="getVoteSubjectRowCount" resultType="java.lang.Long">
        select count(vs_id) from vote_subject
    </select>
    <!-- 获得类名为:VoteSubject对应数据库中表的数据集合 -->
    <select id="selectVoteSubject" resultMap="result_VoteSubject_Map">
        select
        <include refid="vote_subject_Column"/>
        from vote_subject
    </select>
    <select id="selectVoteSubject2" resultMap="result_VoteSubject_Map2">
        select
        <include refid="vote_subject_Column2"/>
        from vote_subject s left JOIN vote_item i on s.vs_id = i.vs_id left join vote_option o on s.vs_id = o.vs_id
    </select>

    <!-- 获得一个VoteSubject对象,以参数VoteSubject对象中不为空的属性作为条件进行查询-->
    <select id="selectVoteSubjectByObj" parameterType="com.baizhi.bb.entity.VoteSubject"
            resultMap="result_VoteSubject_Map">
        select
        <include refid="vote_subject_Column"/>
        from vote_subject
        <where>
            <if test="vsType != null ">and vote_subject.vs_type = #{vsType}</if>
            <if test="vsTitle != null ">and vote_subject.vs_title = #{vsTitle}</if>
            <if test="vsId != null ">and vote_subject.vs_id = #{vsId}</if>
        </where>
    </select>

    <!-- 通过VoteSubject的id获得对应数据库中表的数据对象-->
    <select id="selectVoteSubjectById" parameterType="java.lang.Integer" resultMap="result_VoteSubject_Map2">
        select
        <include refid="vote_subject_Column2"/>
        from vote_subject s left JOIN vote_item i on s.vs_id = i.vs_id left join vote_option o on s.vs_id = o.vs_id
        where s.vs_id = #{id}
    </select>

    <!-- 将VoteSubject插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertVoteSubject" parameterType="com.baizhi.bb.entity.VoteSubject">
        insert into vote_subject(vs_id,vs_title,vs_type) 
        values(0,#{vsTitle},#{vsType})
    </insert>

    <!-- 将VoteSubject中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyVoteSubject" parameterType="com.baizhi.bb.entity.VoteSubject">
        insert into vote_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vsId != null">vs_id,</if>
            <if test="vsTitle != null">vs_title,</if>
            <if test="vsType != null">vs_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vsId != null">0,</if>
            <if test="vsTitle != null">#{vsTitle},</if>
            <if test="vsType != null">#{vsType},</if>
        </trim>
    </insert>

    <!-- 通过VoteSubject的id将数据库表中对应的数据删除-->
    <delete id="deleteVoteSubjectById" parameterType="java.lang.Integer">
        delete from vote_subject
        where vs_id = #{id}
    </delete>

    <!-- 通过VoteSubject的id将VoteSubject的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateVoteSubjectById" parameterType="com.baizhi.bb.entity.VoteSubject">
        update vote_subject set
            vs_title=#{vsTitle}
            ,vs_type=#{vsType}
        where vs_id=#{vsId}
    </update>

    <!-- 通过VoteSubject的id将VoteSubject中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyVoteSubjectById" parameterType="com.baizhi.bb.entity.VoteSubject">
        update vote_subject
        <set>
            <if test="vsTitle != null">
                vs_title=#{vsTitle},
            </if>
            <if test="vsType != null">
                vs_type=#{vsType},
            </if>
        </set>
        where vs_id=#{vsId}
    </update>

</mapper>